name: Update trending NSFW subreddits (reddstats)

on:
  workflow_dispatch:
#  schedule:
#    - cron: '30 */12 * * *'
#  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-trending-nsfw-subreddits:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Copy current file to archive
      run: |
        cp "trending-reddstats-daily-nsfw.txt" "archive/$(date +'%Y-%m-%d')-daily-nsfw.txt"
        cp "trending-reddstats-weekly-nsfw.txt" "archive/$(date +'%Y-%m-%d')-weekly-nsfw.txt"

    - name: Run gen_trending_reddstats.py daily for NSFW
      run: python scripts/gen_trending_reddstats.py daily --nsfw --limit 17 > trending-reddstats-daily-nsfw.txt

    - name: Run gen_trending_reddstats.py weekly for NSFW
      run: python scripts/gen_trending_reddstats.py weekly --nsfw --limit 17 > trending-reddstats-weekly-nsfw.txt

    - name: Abort if daily NSFW empty
      run: |
        if [ ! -s trending-reddstats-daily-nsfw.txt ]; then
          echo "Daily NSFW file is empty"
          exit 1
        fi

    - name: Abort if weekly NSFW empty
      run: |
        if [ ! -s trending-reddstats-weekly-nsfw.txt ]; then
          echo "Weekly NSFW file is empty"
          exit 1
        fi

    - name: Commit and push changes
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git add trending-reddstats-daily-nsfw.txt trending-reddstats-weekly-nsfw.txt archive/$(date +'%Y-%m-%d')-daily-nsfw.txt archive/$(date +'%Y-%m-%d')-weekly-nsfw.txt
        if git diff-index --quiet HEAD --; then
          echo "No changes to commit"
        else
          git commit -m "Trending subreddit daily nsfw update [$(date +'%Y-%m-%d')]"
          git push
        fi
